body {
    margin: 0;
    padding: 0;
    width: 100%;
}

button {
    border-radius: 100px;
    background-color: rgba(1, 1, 1, 0);
    border-style: solid;
}

#search {
    background-image: url("search.png") no-repeat 3px 3px;
}

input {
    border-radius: 100px;
    font-size: 20px;
}

.box {
    display: inline-block;
    width: 79%;
    border: 3px solid #0000FF;
    position: relative;
}


/*導引列*/

nav {
    box-shadow: 0px 5px 5px #888888;
    height: 105px;
    background-color: white;
    padding: 10px;
}

.navbar-brand img {
    margin-left: 20px;
    height: 80px;
}

.navbar-nav {
    margin-top: 35px;
}

.nav-item {
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.nav-item:hover {
    color: blue;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none;
}

#userPost {
    color: #f74a3d;
}

#userPost:hover {
    color: brown;
    text-decoration: none;
}

.nav-line {
    display: inline;
}

.nav-social {
    margin-right: 20px;
}

.nav-sma {
    font-size: 20px;
    color: black;
    margin: 0 7px;
}

.nav-sma:hover {
    color: blue;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}

.myLogin {
    padding: 5px 20px;
    margin: 0px 5px;
    border-color: #FF3333;
    color: #FF3333;
    transition: 0.2s;
}

.myLogin:hover {
    color: white;
    border-color: #FF3333;
    background-color: #ff3333;
}

.try {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex {
    display: flex;
}


/* 圖片 */

header {
    background-image: url("jumbotron.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
}

.shade {
    background: rgba(0, 0, 0, 0.5);
    height: 550px;
    transition: 0.5s ease-in;
}

.shade:hover {
    background: rgba(0, 0, 0, 0.2);
}

header h2 {
    font-family: Microsoft JhengHei;
    color: white;
    padding-top: 230px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jpn-btn {
    border-color: #33FFFF;
    color: #33FFFF;
    font-size: 20px;
    padding: 10 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    margin: 20px 10px;
}

.jpn-btn:hover {
    background-color: #33FFFF;
    color: black;
}

.jpn-btn2 {
    border-color: #FF3333;
    color: #FF3333;
    font-size: 20px;
    padding: 10 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    margin: 20px 10px;
}

.jpn-btn2:hover {
    background-color: #FF3333;
    color: white;
}


/* middle*/

section {
    margin-top: 50px;
}

section h1 {
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 30px;
    color: #FF3333;
    text-align: center;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 0.1em;
    line-height: 1.4em;
}

.do-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#do {
    height: 190px;
    margin: auto;
    margin-top: 30px;
}


/*feature*/

.feature-bg {
    padding: 30px;
    /*background-image: url('sky.jpg');*/
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: blue;
    margin-bottom: 0;
    padding-bottom: 60px;
    /*border: solid #0000FF 3px;*/
    /*border-radius: 50px;*/
    border-radius: 1000px;
}

.feature-bg h1 {
    color: #FF3333;
}

.feature-flex {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 35px;
}

.feature-us {
    height: 240px;
    margin: 15px;
    opacity: 0.8;
}


/* about, btn*/

.about-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#about {
    height: 200px;
    margin: auto;
}

#about_2 {
    height: 400px;
    margin: 20px auto;
    display: none;
}

.btn-flex {
    display: flex;
    justify-content: center;
    vertical-align: center;
    margin-top: 10px;
}

#browse {
    border-color: #0000FF;
    color: #0000FF;
    font-size: 20px;
    padding: 10px 30px;
    margin: 20px;
    transition: 0.3s ease-in-out;
}

#browse:hover {
    background-color: #0000FF;
    color: white;
}

#post {
    border-color: #FF3333;
    color: #FF3333;
    font-size: 20px;
    padding: 10px 30px;
    margin: 20px;
    transition: 0.3s ease-in-out;
}

#post:hover {
    background-color: #FF3333;
    color: white;
}


/*footer*/

footer {
    background-color: #003377;
    border-top: 10px solid #DDAA00;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 100px;
}

.divide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand {
    font-family: Microsoft JhengHei;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

#brand-title {
    text-align: left;
    font-size: 40px;
    color: white;
}

#brand-title-ch {
    text-align: left;
    margin: 0;
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
}

.footer-list {
    font-size: 15px;
    color: white;
}


/*登入*/

.nav .nav-tabs .nav-justified {
    border: none;
    border-bottom: 2px solid;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #f74a3d !important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #f74a3d;
    /*底下那條線的顏色*/
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0px;
}

.tab-content {
    padding: 20px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.reviewHeader {
    border-bottom: 1px solid #0000FF;
    top: 0px;
}

.review {
    padding-left: 2%;
    top: 20%;
    text-overflow: ellipsis;
    height: 30%;
}

.reviewFooter {
    border-top: 1px solid #0000FF;
    height: 20%;
    width: 97%;
    padding-top: 2%;
}

@media (max-width: 873px) {
    nav {
        height: 220px;
    }
    .nav-logo {
        display: flex;
        justify-content: center;
    }
    .try {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-btn {
        margin-top: 70px;
        text-align: center;
    }
    .nav-flex {
        display: flex;
        justify-content: center;
    }
    .nav-right {
        margin-top: 20px;
    }
    .feature-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blue-frame {
        margin: 20px 10%;
    }
    #about {
        display: none;
    }
    #about_2 {
        display: block;
    }
    .btn-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: center;
    }
    #browse {
        padding: 15px 20px;
        margin: 15px auto;
    }
    #post {
        padding: 15px 20px;
        margin: 15px auto;
    }
    .divide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer-list-up {
        margin-top: 30px;
    }
}


/*登入*/

.modal-header {
    padding: 35px;
}

.login-bottle {
    width: 80%;
    height: auto;
    margin: auto;
}

.modal-body {
    background-color: white;
    background: linear-gradient( #cecbca, white);
    height: auto;
}

.login-title {
    color: gray;
    text-align: center;
    padding: 0 0 20px 0;
}

.input-frame {
    border: blue;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

.login-btn {
    text-align: right;
    padding-right: 35%;
    margin: 10px;
    border-color: gray;
    color: gray;
    width: 80%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

.login-fb {
    padding-right: 30px;
    text-align: center;
    margin: 10px;
    border-color: #4169E1;
    color: #4169E1;
    width: 80%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

.login-google {
    padding-right: 30px;
    text-align: center;
    margin: 10px;
    border-color: #DC143C;
    color: #DC143C;
    width: 80%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.login-fb:hover {
    background-color: #4169E1;
    color: white;
}

.login-google:hover {
    background-color: #DC143C;
    color: white;
}

.login-btn:hover {
    background-color: gray;
    color: white;
}

.login-left {
    padding-right: 50px;
}